body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Jersey' sans-serif; 
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.main-content {
    background-color: rgb(150, 139, 139);
    width: 80%;
    height: auto;
}

@media (max-width: 800px) {
    .main-content {
        width: 70%;
    }
}

.main-img img {
   width: 100%;
   height: 20vh;
   object-fit: none;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 20%;
}

@media (max-width: 800px) {
    .right-content {
        width: 27%;
    }
}

.shopping-cart {
    display: flex;
    justify-content: center;margin-top: 20px;
}

.shopping-cart h3 {
    font-family: jersey;
}

.restaurant-logo {
    position: absolute;
    border: 2px solid black;
    top: 220px;
    left: 220px;
    border-radius: 40%;
    
}

.restaurant-logo img {
    width: 80px;
    height: 80px;
}